html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 20px 100px;
  font-size: large;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 20px 100px;
  font-size: large;
}

.offbutton {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 20px 100px;
  font-size: large;
}

.offbutton:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 20px 100px;
  font-size: large;
}

meter {
  width: 200px;
}

#reset {
  border: 1px solid #0066cc;
  background-color: #7bbcd2;
  color: #ffffff;
  padding: 10px 50px;
  font-size: medium;
}
