html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 20px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: x-large;
}
a {
  margin: auto;
}
div {
  display: none;
  margin: auto;
}
